@charset "utf-8";
/* CSS Document */

.btn-success {
    color: #02bb87;
    background-color: #ffffff;
    border-color: #02bb87;
}

.bg-dark {
    background-color: #ffffff!important;
}
.btn-success:hover {
    color: #02bb87;
    background-color: #ffffff;
     border-color: #02bb87;
	 cursor: pointer;
}

.sign-link {
    color: #02bb87;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.sign-link:hover {
    color: #02bb87;
    text-decoration: none;
}

@media (max-width: 998px) {
	.sign-link{display: none;}
}


@media (max-width: 998px) {
	.member-link {display: none;}
}



@media (max-width:998px){.content-between {
    -ms-flex-pack: distribute!important;
    justify-content: space-between!important;
	padding-left: 160px;
    padding-right: 160px;   
}}
 

.scroll {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
	margin-bottom:0px;
}
.scroll li a{
	color: black;
}
.scroll li a:hover {
	text-decoration:none;
}

@media (max-width:769px){
	.big-logo{display:none;}
}

@media (min-width:769px) {
	.small-logo{display:none;}
}

.dropdown, .dropup {
    position: relative;
    z-index: 1030;
}
button:focus {
    outline: none;
    outline: none;
}

.dropdown-menu.show {
    display: block;
    top: 45px !important;
    left: 54px !important;
}
.dropdown-menu li a{
	padding-left:30px;
}
.dropdown-menu{
	box-shadow:0 6px 12px rgba(0,0,0,.175);
}
.bttn:not(:disabled):not(.disabled) {
    cursor: pointer;
}